<!-- Search Box Start -->
  <div class="search">
  <div class="container">

    <div class="search__input">
      <i class="glyphicon glyphicon-search"></i>
       <input 
           ng-model="ctrl.searchValue"
           ng-model-options="{ debounce: 100 }"
           id="search-box"
           placeholder="SEARCH(CLIENT NAME | POLICY NUMBER)" 
           ng-change="ctrl.updateClientsDetail({val: ctrl.searchValue})"/>
    </div>
    </div>
  </div>
<!-- Search Box end -->

<!-- list Client -->
<div class="list">
<div  ng-repeat="item in ctrl.filteredList" class="stripe">
  
  <div class="container-fluid">
	<div class="row col-md-12">
	<div class="col-md-3">
	{{item.name}}
	</div>
	<div class="col-md-2">
<i class="glyphicon glyphicon-earphone"></i> {{item.phone}}
	</div>
	<div class="col-md-3"><strong>@</strong>&nbsp;{{item.email}}</div>
	<div class="col-md-4">
	<i class="glyphicon glyphicon-file"></i> Policy No. {{item.policy}} | {{item.policy}}
	</div>
	</div>
   </div>
  
</div>
</div>